<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Table</title>
    <style>
      body{
        background-image: url("../../../assets/pic/40.png"); 
        height: 150%;
        }
       </style>
</head>
<body >
<button mat-raised-button  (click)="AllTrip()">כל הטיולים</button>
<button mat-raised-button  (click)="ChangeMe()">לשנות אותי</button>
<router-outlet></router-outlet>
</body>
</html>
