.a
{
    background-color: #EEE6D9;
}
.nav-link{
    color: black;
    font-size: x-large;
    text-align: center;
}
.nav-item{
    color: black;
    font-size: medium;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}